<html>
  <meta charset="utf-8">

	<head>
		<title> Nonlinear Systems </title>
    	<link type="text/css" rel="stylesheet" href="static/css/styles.css" />
		<script src="static/lib/jquery-1.9.1.js" type="text/javascript"></script>
		<script src="static/lib/underscore.js" type="text/javascript"></script>



		<script src="static/odesolve.js" type="text/javascript"></script>

		<script src="static/lib/MathBox-bundle.min.js" type="text/javascript"></script>
    </head>

<form id="functions" action="#">
	dx/dt = <input id="dxdt" type="text" value="10*(y - x)" />
	<br>
	dy/dt = <input id="dydt" type="text" value="x*(28 - z) - y" />
	<br>
	dz/dt = <input id="dzdt" type="text" value="x*y - (8/3)*z" />


	<div id="time">
		step = <input id="step" type="text" value=".01" />
		t0 = <input id="t0" type="text" value="0" />
		tend = <input id="tend" type="text" value="55" />
	</div>
  <div id="start">
    x0 = <input id="x0" type="text" value="1" />
    y0 = <input id="y0" type="text" value="1" />
    z0 = <input id="z0" type="text" value="1" />
  </div>

	<input id="clear" type="submit" value="clear" />
	<input id="random" type="submit" value="random!" />
	<input type="submit" value="submit" />
</form>

<div id="mathbox">

</div>

</body>


  <script type="text/javascript" charset="utf-8">

  function mathboxSetup() {
    // Viewport camera/setup
    mathbox
      // Cartesian viewport
      .viewport({
        type: 'cartesian',
      range: [[-35, 35], [-35, 35], [-35, 35]],
        scale: [1.5, 1, 1],
      })
      .camera({
        orbit: 3.5,
        phi: τ,
        theta: 0,
      })
      .transition(300)
  }

  var mathboxScript = [
    // Steps go here
    /*
    ['add', 'curve', {
      id: 'my-curve',
      domain: [-3, 3],
      expression: function (x, i) {
        return [x, Math.sin(x), 0];
      },
      // ...
    }, {
      delay: 500,
      duration: 300,
    }],
    */
  ];

  </script>

  <script type="text/javascript" charset="utf-8">
  /**
   * Bootstrap
   */
  DomReady.ready(function() {
    ThreeBox.preload([
      '/static/shaders/MathBox.glsl.html',
    ], function () {

      // MathBox boilerplate
      var elt = document.getElementById('mathbox');
      var mathbox = window.mathbox = mathBox(elt,{
        cameraControls: true,
        cursor:         true,
        controlClass:   ThreeBox.OrbitControls,
        elementResize:  true,
        fullscreen:     false,
        screenshot:     true,
        stats:          false,
        scale:          1,
      }).start();

      // Set up director
      var script = window.mathboxScript;
      var director = window.director = new MathBox.Director(mathbox, script);

      // Arrow controls
      // Controls for stand-alone
      window.addEventListener('touchstart', function (e) {
        director.forward();
        document.getElementById('info').style.opacity = '0';
      });
      window.addEventListener('keydown', function (e) {
        if (e.keyCode == 38 || e.keyCode == 37) director.back();
        else if (e.keyCode == 40 || e.keyCode == 39) director.forward();
        else {
          return;
        }
      });

      window.mathboxSetup(mathbox);

    });
  });
  </script>
  <script src="static/main.js" type="text/javascript"></script> 




</html>